<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myPage</title>

    <!-- bootstrap css -->
    <!-- css 파일 연결-->
    <link rel="stylesheet" href="../../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../static/css/myPage.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
  </head>

  <style>
    .linear_gradient{
      color: #ff972e;
        }
  </style>

  <body>
    <!-- 네비게이션 바 -->
    <header class="mt-0">
      <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="../">
            <img src="../../static/asset/logo.png" alt="로고" style="max-height: 100px" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation">

            <span class="navbar-toggler-icon">
              <i class="bi bi-list"></i>
            </span>
          </button>
        <div
            class="collapse navbar-collapse justify-content-end"
            id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="../recording/">음성 녹음하기</a>
              </li>
              <!-- <li class="nav-item">
                      <a class="nav-link" href="./output.html"
                        >음성 감정 분석 결과</a
                      >
                    </li> -->
            <li class="nav-item">
                <a
                  class="nav-link"
                  active
                  aria-current="page"
                  href="./mypage.html/">마이페이지</a>
            </li>
              <li class="nav-item">
                <a class="nav-link" id="logout">로그아웃</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <!-- 네비게이션 바 코드 끝-->


    <!-- 내 정보 html 코드-->
        <div style="text-align: center;">
          <div class="linear_gradient" style="font-family: 'SBAggroB'; font-size:25px;">PROFILE</p></div>
        </div>
        <div style="text-align: center; margin: 5px;">
          <img src="../../static/asset/profile.png" height="150" width="150">
        </div>

        <div>
          <strong>
            <div style="font-size:20px; text-align: center;">
              김허니
            </div>
          <div style="font-size: 15px; text-align: center;">
            나이 24 / 여자<br>
            학생<br>
            temp@honeyMind.com
            </div>

        <div style="text-align: center;">
        <button
          class="btn2-hover color-3"
          onClick="location.href='./analysis.html'; return false;">
          정보 수정하기
        </button>

        <button
          class="btn2-hover color-3"
          onClick="location.href='./analysis.html'; return false;">
          비밀번호 변경</button><br/>
        </div>
      </div>
      <br><br>
<!-- 내 정보 html 코드 끝-->

<div style="text-align:center">
  <p class="logs" style="font-family: 'SBAggroB'; font-size: 25px; margin: 10px">
    <span class="linear_gradient">녹음 파일 목록</span>🗂️
  </p>
  {% if recordings %}
  <ul class="logs">
    {% for recording in recordings %}
    <li>
      <audio controls>
        <source src="{{ recording.audio_file.url }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <p>업로드 날짜: {{ recording.uploaded_at|date:"Y-m-d H:i:s" }}</p>
      <p>성별: {{ recording.gender }}</p>
      {% if recording.emotion_result %}
        <p>감정: {{ recording.emotion_result.ratio }}</p>  <!-- 수정 -->
        <p>감정 비율: {{ recording.emotion_result.emotion }}</p>  <!-- 수정 -->
      {% else %}
        <p class="logs">감정분석이 없습니다.</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <p class="logs">녹음 파일이 없습니다.</p>
  {% endif %}
</div>
  

<p class = "logs" style="font-family: 'SBAggroB';font-size: 25px; margin:10px"><span class = "linear_gradient">분석내역 </span>🗂️</p>
      <div class="logs" style="font-size: 20px">
        <li>
          <span class="day"> 2023/03/27 </span>
          <span class="emotion">감정: 행복</span>
          <span><button
            class="btn2-hover color-3"
            onClick="location.href='../analysis'; return false;">
            세부 감정 분석 </button></span><br/></span></span>
        </li>
        <li>
          <span class="day"> 2023/03/28 </span>
          <span class="emotion">감정: 행복</span>
          <span><button
            class="btn2-hover color-3"
            onClick="location.href='../analysis'; return false;">
            세부 감정 분석 </button></span><br/></span></span>
        </li>
        <li>
          <span class="day"> 2023/03/29 </span> 
          <span class="emotion">감정: 행복</span>
          <span><button
            class="btn2-hover color-3"
            onClick="location.href='../analysis'; return false;">
            세부 감정 분석 </button></span><br/></span></span>
        </li>
      </div>
    </div>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../../static/js/navbar.js"></script>
  </body>
</html>